:root {
    --primary-color: #4fb446;
    --secondary-color: #e7e7e7;
    --accent-color: #cccccc;
    --text-color: #333;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.pickett-image {
    width: 400px;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.content-section {
    margin: 5px auto;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.chat-box {
    width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 10px;
    font-family: monospace;
}



/* Items */




/* button styles */
button {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.light-button {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--primary-color);
}



/* Nav + Footer CSS */

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(180deg, #e7e7e7, #cccccc);
    overflow: hidden;
    border: #9c9c9c 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
    background-image: linear-gradient(180deg, #e7e7e7, #cccccc);
    color: #333;
    border: #9c9c9c 1px solid;
    text-align: center;
    padding: 5px;

    width: 100%;
    bottom: 0;
}

.left-nav a {
    float: left;
    border-right: #9c9c9c 1px solid;
}
.right-nav a {
    float: right;
    border-left: #9c9c9c 1px solid;
}


/* Chat Formatting */

.chat-message {
  margin: 5px 0;
}

.chat-username {
  font-weight: bold;
  color: #4fb446; /* bright green */
}

.chat-text {
  color: #222; /* normal text */
}

.chat-timestamp {
  font-style: italic;
  color: #999; /* grey timestamp */
  margin-left: 5px;
}